/*{
    border: 1px solid black;
} */

.menuheader{
    background-color: #FAFAFA ;
    max-height: auto;
    display: flex;
}

.logoIcon{
    width: 45%;
}

.menuIcon{
    width: 30%;
}

.userIcon{
    width: 4%;
}

.rownav{
    background-color: #FAFAFA ;
    height: 100%;
    max-height: auto;
    
}

.btnSalir{
    width: auto !important;
    color:white !important;
    background-color: #DC3545 !important;
    border: white 1px solid !important;
    border-radius: 5px !important;
    margin-left: 2%;
    height: auto !important;
}

.headerDisplay{
    color:white;
    background-color: #DC3545;
    height: 100% ;
    width: 100%;

}

.titleHeaderD{
    padding-right: 25%;
}

.navIcon{
    width: 10%;
    margin-right: 5%;
}

.sidenav{
    padding-top: 50%;
    border: 1px solid #DEE2E6;
}

a:link, a:link:hover{
    text-decoration: none;
    color:black;
}

p>code{
    color:black;
}

.footer{
    background-color: #FAFAFA ;
    height: 20% !important;
}

.formInfo{
    background-color:#FAFAFA ;
    padding-top:5% !important;
    padding-bottom: 5% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
}


.buttonCancelar{
    background-color:white !important;
    border-color:#DC3545 !important;
    color:#DC3545 !important;
}

.buttonGuardar{
    margin-left: "50%" !important;
    background-color:#DC3545!important;
    border-color:#DC3545 !important;
    color:white !important;
}

.nuevoGasto{
    border:1px solid black;
}